<div style="background-image:url('./public/images/course_design.jpg');width:100%;height:970px;background-repeat:no-repeat;background-size:cover">
	<div class="container">
	<div class="row" style="padding-top:5%;">
		<p align="right"><a href="#/login" class="btn btn-primary"  >Logout</a></p></br>
	
		<div class="col-sm-1 col-md-3"></div>
		<div class="col-xs-12 col-sm-10 col-md-6" style="background:#fff;opacity:0.9">
			<div style="border:1px solid #fff;">
		<p class="heading" style="text-align:center;color:#000!important;">Add New Course Form</p>
		<form>
			<table align="center">
				<!-- <tr>
					<td class="normal-font1">Course ID :</td>
					<td><input type="number" ng-model="vm.courseId" name="courseId" disabled=""></td>
				</tr>
				 -->
				 <tr>
					<td class="normal-font1">Course Name :</td>
					<td><input type="text" ng-model="vm.courseName" name="courseName" required=""></td>
				</tr>
				<tr>
					<td class="normal-font1">Course Duration :</td>
					<td><input type="number" ng-model="vm.courseDuration" name="courseDuration" required=""></td>
				</tr>
				<tr>
					<td class="normal-font1">No-of Course Installation Available :</td>
					<td><input type="number" ng-model="vm.courseInstallation" name="courseInstallation" required=""></td>
				</tr>
				<tr>
					<td class="normal-font1">Course Fees :</td>
					<td><input type="number" ng-model="vm.courseFee" name="courseFee" required=""></td>
				</tr>
				<tr>
					<td class="normal-font1">Course Batch Size :</td>
					<td><input type="number" ng-model="vm.courseBatchSize" name="courseBatchSize" required=""></td>
				</tr>
				<tr>
					<td class="normal-font1">Faculty Name :</td>
					<td><input type="text" ng-model="vm.courseFaculty" name="courseFaculty" required=""></td>
				</tr>
			</table>
		<div align="center">
			</br></br>
			<input class="button-style" type="submit" ng-click="vm.submit()">
			<input class="button-style" type="button" ng-click="vm.clear()" name="" value="Clear All">
			</br></br>
		</div>
	</form>
	</div>
		</div>
		<div class="col-sm-1 col-md-3"></div>
	</div>
	
</div>